{% extends 'layout.html' %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="jumbotron jumbotron-fluid text-center mt-4">
          <div class="container">
            <h1 class="display-4">NPORT-P Scraper</h1>
            <p class="lead">by tamas.fabian@dealogic.com</p>
            <p class="lead">Version 1.0

                <br>Just paste in the link for the xml file and click on Parse!

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
